*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# elpa
elpa

# el-get
el-get

# the generated el files by org-babel
me*el

# auto-complete data file
ac*dat

# saved-places
*saved-places*

# recentf
.recentf

# projectile
projectile*

# url
url

# oh-my-emacs doc
doc
/places
/semanticdb
/srecode-map.el
/ede-projects.el
/habitrpg/habitrpg/
/request/curl-cookie-jar
/session.1086815450a1c8b921138494056737075800000015700038
/session.10a502e2bbc1f03737138554103759330000000024760037
/session.2de0321e3-c5c5-40f5-9485-747161d33125
